/** Media Queries **/
@use 'variables' as v;

@mixin telefono {
    @media (min-width: #{v.$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{v.$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{v.$desktop}) {
        @content;
    }
}
@mixin grid($cols, $spacing ) {
    display: grid;
    gap: $spacin;
    grid-template-columns: repeat($cols, 1fr);
}