@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer{
    background-color: v.$black;
    padding: v.$gap / 2 0;
    margin-bottom: 0;

    .footer-content{
        margin-top: v.$gap;
    }

    
    .copyright{
        color: v.$white;
        text-align: center;
    }
    .navegation{
        visibility: visible;
        opacity: 1;
        height: auto;
    }
}