@use 'base/variables' as v;
@use 'base/mixins' as m;

@include m.tablet{
    .icons-about{
        @include m.grid(3, 2rem);
    }
}

.icon{
    text-align: center;

    img{
        height: 3rem;
    }
    
    h3{
        text-transform: uppercase;
    }
}