@use 'base/variables' as v;

.alert{
    padding: .5rem;
    text-align: center;
    color: v.$white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0;

    &.error{
        background-color: v.$red;
    }


    &.succes{
        background-color: v.$green;
    }
}

table.properties{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead{
        background-color: v.$green;

        th{
            color: v.$white;
            padding: 2rem;
        }
    }

    .table-img{
        width: 10rem;
    }
}

.small-img{
    width: 20rem;
}